.pinterestBlack {
    background-image: "/assets/pinterest-black.png";
    background-repeat: no-repeat;
}
.pinterestColor {
    background-image: "/assets/pinterest-col.png";
    background-repeat: no-repeat;
}