.twitterBlack {
    background-size: contain;
    background-image: url("../../../assets/twitter-black.png");
    background-repeat: no-repeat;
}
.twitterColor {
    background-size: contain;
    background-image: url("../../../assets/twitter-col.png");
    background-repeat: no-repeat
    }