.linkedInBlack {
    background-image: "/assets/linkedIn-black.png";
    background-repeat: no-repeat;
}
.linkedInColor {
    background-image: "/assets/linkedIn-col.png";
    background-repeat: no-repeat;
}